@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html{
    background-color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

/*MENU DE NAVEGACIÓN*/
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(165, 42, 42);
}

li {
  float: left;
}

#right{
  float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(79, 21, 21);
} 
/*FIN DEL MENÚ DE NAVEGACIÓN*/


.banner{
  height: 50%;
}

.grid-banner{
  display: grid;
  grid-template-columns: repeat(1, 1);
  grid-auto-rows: minmax(100px, auto);
  
}

.foto{
  grid-column: 1;
  grid-row: 0;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.texto-intro{
  grid-column: 2;
  grid-row: 0;
  text-align: center;
  width: 700px;
  text-align: justify;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.columnas {
  display: grid;
  grid-template-columns: repeat(1, 1, 1);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1;
  grid-row: 1;
  background-color: red;
  margin: 10px;
  padding: 10px;
}

.two {
  grid-column: 2;
  grid-row: 1;
  background-color: red;
  margin: 10px;
  padding: 10px;
}

.three {
  grid-column: 3;
  grid-row: 1;
  background-color: red;
  margin: 10px;
  padding: 10px;
}

#proyectos{
  margin-top: 100px;
}