@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  width: 100%;
  height: 80px;
  margin-top: 40px;
  position: fixed;
  z-index: 1;
}

.container__menu {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 120px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-left: 36px;
}

.menu ul li a {
  text-decoration: none;
  font-weight: 550;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.menu ul li a:hover {
  color: #f7931a;
  letter-spacing: 1.4px;
}

.perfil{
  color:transparent;
  display: none;
}

#buttonlogin {
  margin: -10px 0 0 5px;
  padding: 10px 40px;
  border-radius: 50px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

#buttonlogin:hover {
  background: linear-gradient(to right, #fe7676, #f54d4d);
  color: black;
  border: 2px solid black;
}

/*COVER*/
.container__cover {
  width: 100%;
  height: 800px;
  background-image: url(img/fondoinicio.png);
  background-position: right;
  background-repeat: no-repeat;
}

.cover {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__cover .text {
  max-width: 400px;
}

.container__cover .text h1 {
  font-size: 36px;
  font-weight: 600;
}

.container__cover .text p {
  font-size: 18px;
  margin-top: 40px;
}

.container__cover .text input {
  padding: 18px 80px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 40px;
  background: linear-gradient(to right, #fe7676, #f54d4d);
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 30px -12px #f54d4d;
  transition: all 300ms;
}

.container__cover .text input:hover {
  box-shadow: 1px 1px 30px 0px #f54d4d;
}

.container__cover .svg img {
  width: 600px;
  animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
  0% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(15px);
  }
}

/*^*/
.columnas {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0 140px 0 140px;
}

.oscuro{
  background-color: rgb(243, 243, 244);
}

.partetext {
  width: 50%;
  align-self: center;
}

.parteimagen {
  width: 50%;
  align-self: center;
}

.parteimagen img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.item-text {
  padding: 10px 20px 10px 0px;
  text-align: justify;
  color: rgb(36, 36, 36);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px
}

.item-h2 {
  margin-right: 100px;
}

.columnas-nosotros {
  display: flex;
  justify-content: space-evenly;
  margin-left: 140px;
  margin-right: 140px;
}

.item-nosotros {
  padding: 10px;
}

.item input {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 10px;
  background: linear-gradient(to right, #fe7676, #f54d4d);
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 30px -12px #f54d4d;
  transition: all 300ms;
}

#proyectos {
  margin-top: 70px;
}

#sobreNosotros {
  margin-top: 20px;
  padding: 20px;
}

#contactanos {
  margin-top: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

@media only screen and (min-widht:700px) {}

.minitexto {
  color: rgb(93, 69, 220);
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 28px;
}

.titulos-h3 {
  color: rgb(36, 36, 36);
  font-size: 22px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 28px;
}

.titulos-h2 {
  color: rgb(36, 36, 36);
  font-size: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  line-height: 54px;
}

.partetext h2 {
  color: rgb(36, 36, 36);
  font-size: 40px;
  font-weight: 200;
  line-height: 54px;
}

.texto {
  color: rgb(36, 36, 36);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  padding: 40px 140px 15px 140px;
  margin-bottom: 20px;
}

.centrar-p {
  color: rgb(36, 36, 36);
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

.img-nosotros {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titulo-contactar {
  color: black;
  margin-bottom: 20px;
  font-size: 52px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 66px;
}

.formulario {
  max-width: 416px;
  box-sizing: border-box;
  margin-left: 0px;
  padding: 36px 32px;
  margin-right: 0px;
  border-radius: 10px;
  background-color: #f54d4d;
}


/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

.dark-mode {
  background-color: #121212;
  
}

.texto-blanco * {
  color: white;
}

#camaro{
  margin-top: 100px;
  margin-bottom: 100px;
}


/* CONTACTANOS */
.container{
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.container form .title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.container form .title:before{
  content: '';
  position: absolute;
  margin-top: 10px;
  height: 4px;
  width: 120px;
  left: 0px;
  bottom: -2px;
  border-radius: 5px;
  background: linear-gradient(to right, #ee8f00 0%, #ff531a 100%);
}
.container form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.container form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.container form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #ee8f00 0%, #ff531a 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.container form .button{
  margin: 40px 0 20px 0;
}
.container .input-box input[type="submit"]{
  background: linear-gradient(to right, #ee8f00 0%, #ff531a 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .input-box input[type="submit"]:hover{
  letter-spacing: 1px;
  background: linear-gradient(to left, #ee8f00 0%, #ff531a 100%);
}

.container .option{
  font-size: 14px;
  text-align: center;
}

#contactanos{
  height: 800px;
  background-image: url("img/fondocontacto.jpg");
}

.headerFijo{
  width: 100%;
  height: 80px;
  position: fixed;
  margin-top:0px;
  z-index: 1;
  background-color: white;
  transition: all 0.3s ease;
}